<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Post – 1</title>
    <style id="applicationStylesheet" type="text/css">
        .mediaViewInfo {
            --web-view-name: Facebook Post – 1;
            --web-view-id: Facebook_Post__1;
            --web-enable-deep-linking: true;
        }
        :root {
            --web-view-ids: Facebook_Post__1;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }
        #Facebook_Post__1 {
            position: absolute;
            width: 630px;
            height: 1200px;
            background-color: rgba(255,255,255,1);
            overflow: hidden;
            --web-view-name: Facebook Post – 1;
            --web-view-id: Facebook_Post__1;
            --web-enable-deep-linking: true;
        }
        #Component_1__1 {
            mix-blend-mode: normal;
            position: absolute;
            width: 310px;
            height: 262px;
            left: 175px;
            top: 229px;
            overflow: visible;
        }
        #Rectangle_1 {
            fill: rgba(255,255,255,1);
            stroke: rgba(112,112,112,1);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }
        .Rectangle_1 {
            position: absolute;
            overflow: visible;
            width: 310px;
            height: 263px;
            left: 0px;
            top: 0px;
        }
        #Formation_en_creation_de_site_ {
            left: 146px;
            top: 146px;
            position: absolute;
            overflow: visible;
            width: 302px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: rgba(0,0,0,1);
        }
        #sub-title {
            left: 146px;
            top: 179px;
            position: absolute;
            overflow: visible;
            width: 101px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            color: rgba(112,112,112,1);
        }
        #CODE_DE_SCURIT {
            left: 146px;
            top: 523px;
            position: absolute;
            overflow: visible;
            width: 181px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(0,0,0,1);
            text-transform: uppercase;
        }
        #code {
            left: 146px;
            top: 549px;
            position: absolute;
            overflow: visible;
            width: 102px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: rgba(112,112,112,1);
            text-transform: uppercase;
        }
        #Nom_du_client {
            left: 146px;
            top: 630px;
            position: absolute;
            overflow: visible;
            width: 135px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            color: rgba(0,0,0,1);
            text-transform: uppercase;
        }
        #prix_initial {
            left: 147px;
            top: 673px;
            position: absolute;
            overflow: visible;
            width: 104px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            color: rgba(0,0,0,1);
            text-transform: uppercase;
        }
        #Tiafeno_Finel {
            left: 371px;
            top: 633px;
            position: absolute;
            overflow: visible;
            width: 72px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: lighter;
            font-size: 13px;
            color: rgba(0,0,0,1);
        }
        #ID26_ {
            left: 373px;
            top: 676px;
            position: absolute;
            overflow: visible;
            width: 25px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: lighter;
            font-size: 13px;
            color: rgba(0,0,0,1);
            text-transform: uppercase;
        }
        #ID26__q {
            left: 373px;
            top: 719px;
            position: absolute;
            overflow: visible;
            width: 25px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: lighter;
            font-size: 13px;
            color: rgba(0,0,0,1);
            text-transform: uppercase;
        }
        #MOntant_pay {
            left: 146px;
            top: 716px;
            position: absolute;
            overflow: visible;
            width: 132px;
            white-space: nowrap;
            text-align: left;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            color: rgba(0,0,0,1);
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<div id="Facebook_Post__1">
    <div id="Component_1__1" class="Component_1___1">
        <img src="{{ qrcode_url }}" width="250" />
    </div>
    <div id="Formation_en_creation_de_site_">
        <span>{{product_name}}</span>
    </div>
    <div id="sub-title">
        <span>{{ sitename }}</span>
    </div>
    <div id="CODE_DE_SCURIT">
        <span>CODE DE SéCURITé</span>
    </div>
    <div id="code" style="margin-bottom: 20px">
        <span>{{code}}</span>
    </div>
    <div id="Nom_du_client">
        <span>Nom du client</span>
    </div>
    <div id="Tiafeno_Finel">
        <span>{{author_name}}</span>
    </div>
    <div id="MOntant_pay">
        <span>Montant payé</span>
    </div>
    <div id="ID26__q">
        <span>{{total_ttc}}</span>
    </div>
</div>
</body>
</html>